################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GeometricLayoutClient/obj
/GeometricLayoutService/bin
/GeometricLayoutService/obj
/GeometricLayoutTest/obj
/packages
